<%# challenge = object.challenge %>
<li>
  <%= link_to "Website<span class='ico'></span>".html_safe, object.website, :class => "hc-button ico website" unless object.website.blank? %>
</li>
<li>
  <%= link_to "Video<span class='ico'></span>".html_safe, object.video, :class => "hc-button ico video" unless object.video.blank? %>
</li>