<ul class="team">
  <li>By&nbsp;&nbsp;</li>
  <% @submission.all_members.each do |member| %>
    <li>
      <%= link_to_profile member, user_photo_image_tag(member, size: :small, class: "user_photo", alt: member.full_name) %>
    </li>
  <% end %>
</ul>
