<li>
  <% if user_signed_in? %>
    <% if current_user.supports?(object) %>
      <%= link_to "Following<span class='ico'></span>".html_safe, delete_hovercard_challenge_supports_path(object), :remote => true, :method => :delete, :class => "hc-button ico follow following" %>
    <% else %>
      <%= link_to "Follow<span class='ico'></span>".html_safe, hovercard_challenge_supports_path(object), :remote => true, :method => :post, :class => "hc-button ico follow" %>
    <% end %>
  <% end %>
  <div class="hc-button ico supporters disabled-button">
    <%= object.supports_count %>
    <span class='ico'></span>
  </div>
</li>