<%
  object_url = challenge_domain_url(@challenge)
%>

<%= cache(@challenge.get_cache_key(:hovercard, :challenge_updated, updated_at.to_i), :expires_in => 15.minutes) do %>
  <%= render :layout => "hovercard/hovercard", :locals => { :object => @challenge, :photo => @challenge.main_photo, :object_url => object_url } do %>
    <h5><%= link_to @challenge.title, object_url %></h5>
    <p class="subtitle"></p>
    <%= render "hovercard/data", :data => build_challenge_hovercard_data(@challenge) %>
  <% end %>
<% end %>
